spring:
  #数据库链接池 HikariCP连接池
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost:3306/games?useUnicode=true&characterEncoding=utf-8&useSSL=false
      username: root
      password: 123456
      driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/games?useUnicode=true&characterEncoding=utf-8&useSSL=false

  #redis 配置 SpringBoot 2.x 默认使用 lettuce 进行数据库连接
  redis:
    # Redis数据库索引（默认为0）
    database: 0
    # Redis服务器地址
    host: 127.0.0.1
    # Redis服务器连接端口
    port: 6379
    # Redis服务器连接密码（默认为空）
    password:
    # 连接超时时间
    timeout:
    lettuce:
      pool:
        # 连接池最大连接数（使用负值表示没有限制）
        max-active: 8
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1s
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池中的最小空闲连接
        min-idle: 0
#mybatis 驼峰和下划线的转换
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  #config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml