<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.learn.springboot.mapper.UserMapper">

  <select id="getUserById" resultType="cn.learn.springboot.bean.User">
    SELECT * FROM user WHERE id = #{id}
  </select>
</mapper>